{% extends "::base.html.twig" %}

{% block title %}ChallengeBundle:AdminQuestion:deleteQuestion{% endblock %}

{% block body %}
<h1>Welcome to the AdminQuestion:deleteQuestion page</h1>
{% endblock %}
